{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}WMS System{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="WMS Dashboard" name="description" />
    <meta content="Your Company" name="author" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/core.css' %}" rel="stylesheet">
    <link href="{% static 'css/components.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/pages.css' %}" rel="stylesheet">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <link href="{% static 'plugins/jquery-circliful/css/jquery.circliful.css' %}" rel="stylesheet"/>


    {% block extra_css %}{% endblock %}
</head>

<body class="fixed-left">

<div id="wrapper">

    <!-- Topbar -->
    <div class="topbar">
        <div class="topbar-left">
            
                <span>WMS<span>Umar</span></span>
                <i class="zmdi zmdi-layers"></i>
            </a>
        </div>
        <div class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button class="button-menu-mobile open-left">
                            <i class="zmdi zmdi-menu"></i>
                        </button>
                    </li>
                    <li>
                        <h4 class="page-title">{% block page_title %}Dashboard{% endblock %}</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Left Sidebar -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Navigation</li>
        <li>
          <a href="{% url 'dashboard' %}" class="waves-effect">
            <i class="zmdi zmdi-view-dashboard"></i>
            <span> Dashboard </span>
          </a>
        </li>
        <li><a href="{% url 'supplier_list' %}" class="waves-effect"><i class="zmdi zmdi-truck"></i><span> Supplier </span></a></li>
        <li><a href="{% url 'inventory_list' %}" class="waves-effect"><i class="zmdi zmdi-store"></i><span> Inventory </span></a></li>
        <li><a href="{% url 'product_list' %}" class="waves-effect"><i class="zmdi zmdi-shopping-basket"></i><span> Product </span></a></li>
        <li><a href="{% url 'location_list' %}" class="waves-effect"><i class="zmdi zmdi-pin-drop"></i><span> Location </span></a></li>
        <li><a href="{% url 'warehouse_list' %}" class="waves-effect"><i class="zmdi zmdi-archive"></i><span> Warehouse </span></a></li>
        <li><a href="{% url 'purchaseorder_list' %}" class="waves-effect"><i class="zmdi zmdi-assignment"></i><span> Orders </span></a></li>
        <li><a href="{% url 'order_item_list' %}" class="waves-effect"><i class="zmdi zmdi-format-list-bulleted"></i><span> Order Items </span></a></li>
        <li><a href="{% url 'employee_list' %}" class="waves-effect"><i class="zmdi zmdi-accounts"></i><span> Employees </span></a></li>
      </ul>

      <div class="clearfix"></div>
    </div>

    <!-- Pastki burchak: Login / Logout -->
    <div class="sidebar-footer text-center" style="padding: 10px 0;">
      {% if request.session.employee_id %}
        <a href="{% url 'logout' %}" title="Logout" class="text-danger">
          <i class="zmdi zmdi-power"></i><br>
          Logout
        </a>
      {% else %}
        <a href="{% url 'login' %}" title="Login" class="text-success">
          <i class="zmdi zmdi-account"></i><br>
          Login
        </a>
      {% endif %}
    </div>

  </div>
</div>


    <!-- Main Content -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="footer text-right">
            {{ now|date:"Y" }} © WMS System.
        </footer>
    </div>

</div>

<!-- JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/detect.js' %}"></script>
<script src="{% static 'js/fastclick.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/jquery.blockUI.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jquery.core.js' %}"></script>
<script src="{% static 'js/jquery.app.js' %}"></script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'plugins/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'plugins/jquery-circliful/js/jquery.circliful.min.js' %}"></script>
<script src="{% static 'pages/jquery.other-charts.js' %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
